@page
@model Weaselware.Lemur.Pages.Products.ProductsListModel
@{
    ViewData["Title"] = "ProductsList";
}

<h2>Products</h2>

<div class="container">
    <div class="row">
        <div class="jumbotron">
            <h1>Under Contruction</h1>
        </div>
    </div>
</div>
