@page
@model Weaselware.Lemur.Pages.Test.editModel
@{
    
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>edit</title>
</head>
<body>
    <div class="row">
        <div class="col-md-12 ">
            <div class="col-3">
                <div class="input-group input-group-sm">
                    <span class="input-group-addon">CPD</span>
                    <input type="text" class="form-control" placeholder="shit" />

                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="input-group input-group-sm p-3">
                <span class="input-group-addon">Description</span>
                <input type="text" class="form-control" placeholder="shit" />

            </div>
        </div><!--col-->
    </div><!--./row-->
</body>
</html>

<style>
    li.input-group-sm{
        padding: 2px,2px,2px,2px;
    }

    li.input-group-addon {
        padding: 2px,2px,2px,2px;
    }
</style>