@page
@model Weaselware.Lemur.Pages.Asset.ListModel
@{
    ViewData["Title"] = "List";
}

<h2>Assets</h2>

<div class="container">
    <div class="row">
        <div class="jumbotron">
            <h1>Under Contruction</h1>
        </div>
    </div>
</div>
